@import "https://fonts.googleapis.com/css2?family=Lobster&display=swap";
@import "../../../styles/common";
@import "../../../styles/mixin";

.profileTxt {
  @include profileTxt;
}

.navBar {
  @include flex($direction: row, $align: center, $justify: space-between);
  margin: 15px 80px;

  .logo {
    @include flex($direction: row, $align: center, $justify: center);
  }

  .img {
    width: 24px;
    height: 24px;
    margin-right: 15px;
    text-decoration-line: none;
  }

  .txt {
    padding-left: 15px;
    border-left: 2px solid rgb(77, 77, 77);
    color: black;
    font-family: "Lobster", cursive;
    font-size: 30px;
    text-decoration-line: none;
  }

  .searchBox {
    width: 200px;
    height: 20px;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 2px;
    background-color: rgb(246, 246, 246);

    &::placeholder {
      font-size: 14px;
      text-align: center;
    }
  }

  .etc {
    margin-right: 15px;
    .items {
      width: 24px;
      height: 24px;
    }
  }
}

main {
  @include flex($direction: row, $align: flex-start, $justify: center);
  margin: 15px;
  border-top: 1px solid rgb(234, 234, 234);
  background-color: rgb(246, 246, 246);

  .feeds {
    width: 450px;
    margin: 50px 20px auto;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 3px;
    background-color: white;

    .nav {
      @include flex($direction: row, $align: center, $justify: space-between);
      .profile {
        @include flex($direction: row, $align: center, $justify: space-between);
      }
      .mainProfile {
        width: 25px;
        height: 25px;
        margin: 11px;
        border: 0.3px solid rgb(234, 234, 234);
        border-radius: 50%;
        object-fit: cover;
        object-position: bottom;
      }

      .option {
        margin: 10px;
      }
    }

    .feedImg {
      margin: 0px;
    }

    .feedEtc {
      border-bottom: 1px solid rgb(234, 234, 234);
    }

    .feedEnd {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px;
      padding: 10px 0px;
    }

    .feedIcons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  .right {
    margin-left: 10px;
  }

  .icons {
    margin: 0px 3px;
  }

  .left {
    margin: 5px 5px;
  }

  .right {
    margin: 5px 5px;
  }

  .likeProfile {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 0.3px solid rgb(234, 234, 234);
    border-radius: 50%;
    object-fit: cover;
    object-position: bottom;
  }

  .marginLeft {
    margin: 0px 10px;
  }

  .likeMsg {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
  }

  .dayBefore {
    margin-bottom: 5px;
  }

  .userID {
    font-weight: bold;
  }

  .dayBefore {
    margin-bottom: 10px;
  }
  .comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .commentStyle {
    border: 0px;
  }
  .post {
    width: 25px;
    opacity: 0.5;
    background-color: white;
    color: rgb(0, 110, 253);
  }

  .ulAlign {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .listAlign {
    display: flex;
    justify-content: space-between;
    width: 430px;
  }

  .side {
    width: 225px;
    margin-top: 50px;
  }

  .sideHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
  }

  .myProfile {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
    object-position: bottom;
  }

  .storySection {
    height: 180px;
    overflow: scroll;
  }

  .sideSection {
    width: 225px;
    margin-bottom: 10px;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 3px;
    background-color: white;
  }

  .storyTxt {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
  }

  .storyList {
    list-style: none;
  }

  .storyMargin {
    margin-top: 0px;
  }

  .story {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 10px 8px;
  }

  /* .gradientCircle {
  position: absolute;
  margin-left: -2.8px;
  width: 26px;
  height: 26px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(.fff, .fff),
    linear-gradient(to right, rgb(255, 0, 85), orange 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
*/

  .storyProfile {
    position: relative;
    width: 26px;
    height: 26px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
    object-position: bottom;
  }

  .recommendFor {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
  }

  .recommendList {
    margin: 0px 10px;
    list-style: none;
  }

  .recommendProfile {
    position: relative;
    width: 26px;
    height: 26px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
    object-position: bottom;
  }

  .IDtextBox {
    width: 123px;
    margin: 0px 10px 0 0;
  }

  .recommendID {
    @include flex($direction: row, $align: center, $justify: flex-start);
    margin-bottom: 8px;
  }

  .bluelightTxt {
    color: rgb(178, 222, 255);
  }

  .br {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .blueBrTxt {
    @include blueTxt;
    font-size: 13px;
  }

  .horizontalNav {
    list-style: none;
  }

  .mainSection {
    margin: 0px auto 10px auto;
  }

  .hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .westaTxt {
    color: rgb(204, 204, 204);
  }

  .westaEtc {
    margin-bottom: 10px;
  }
  .westaCopy {
    font-size: 13px;
  }
}
