@import "../../../styles/common";
@import "../../../styles/mixin";

.login {
  .section {
    @include flex(column, center, center);
    width: 480px;
    margin: auto;
    margin-top: 100px;
    border: 2px rgb(236, 236, 236) solid;
    background-color: white;

    .title {
      margin: 40px auto;
      font-family: "Lobster", cursive;
      font-size: 65px;
    }

    .box {
      @include flex(column, center, center);
      margin: 10px auto 120px;
    }

    .item {
      width: 380px;
      height: 65px;
      margin-bottom: 10px;
      border: 1px solid rgb(222, 222, 222);
      border-radius: 5px;
      background-color: #f6f6f6;

      &::placeholder {
        padding-left: 10px;
        font-size: 15px;
        text-align: start;
      }
    }

    .btn {
      width: 380px;
      height: 50px;

      margin: 10px auto;
      border: 0px;
      border-radius: 5px;
      opacity: 0.5;
      background-color: #6da5ff;

      color: white;
      font-size: 18px;
    }

    .lostPw {
      margin-bottom: 40px;
      color: #1e3e70;
      font-size: 15px;
    }
  }
}
