$background_color: #fafafa;
$white: #ffffff;
$border_style: 2px solid #f0f0f0;
$insta_font: "Lobster", cursive;
$black_06: rgba(0, 0, 0, 0.6);
$black_04: rgba(0, 0, 0, 0.4);
$black_02: rgba(0, 0, 0, 0.2);
$box_shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
